@import "../../node_modules/bootstrap/less/bootstrap.less";

.kc-container {
  background: white;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.kc-content-holder{
  padding: 0 0 0 245px;
  position: relative;
  min-height: 1000px;
}

.kc-sidebar{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  overflow: hidden;
}

.kc-page-content {
  padding: 0 15px 15px 15px;
  min-height: 400px;
  overflow: hidden;
  border-left: 1px solid lightgray;
}

.kc-standings {
  max-width: 250px;
  float: left;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
  margin-top: 70px;
}

.kc-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.kc-logo {

}

.kc-news-post {
  border: 1px solid lightgray;
  padding: 15px;
  width: 75%;
  margin-bottom: 15px;
}

.kc-race-list {
  float: right;
  max-width: 250px;
}

.kc-race-info {
  float: left;
  width: 600px;
  margin-bottom: 50px;
}

.kc-race-map {
  max-height: 400px;
}

.kc-results-tile {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px 0 0 0;
  width: 25%;
}


